*/Makefile
*/Makefile.in
.deps
*.o
*.lo
.libs
*.la
/ios/SDL2-2.0.3/Xcode-iOS/SDL/SDL.xcodeproj/xcuserdata/
/ios/Exult.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/ios/Exult.xcodeproj/project.xcworkspace/xcshareddata/Exult.xccheckout
/ios/Exult.xcodeproj/project.xcworkspace/xcuserdata/chaojili.xcuserdatad/UserInterfaceState.xcuserstate
/ios/Exult.xcodeproj/xcuserdata/chaojili.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/ios/Exult.xcodeproj/xcuserdata/chaojili.xcuserdatad/xcschemes/Exult.xcscheme
/ios/Exult.xcodeproj/xcuserdata/chaojili.xcuserdatad/xcschemes/xcschememanagement.plist

config.h

ltmain.sh

ylwrap

stamp-h1

*.in
# More autogen/autoconf stuff
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

usecode/ucxt/data/u7sibetaintrinsics.data
ios/data/exult.flx
ios/data/exult_bg.flx
ios/data/exult_si.flx
ios/data/midisfx.flx
ios/data/jmsfx.flx
ios/data/jmsisfx.flx
ios/data/sqsfxbg.flx
ios/data/sqsfxsi.flx
