*/Makefile
*/Makefile.in
.deps
*.o
*.lo
.libs
*.la
/ios/SDL2-2.0.3/Xcode-iOS/SDL/SDL.xcodeproj/xcuserdata/
/ios/Exult.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/ios/Exult.xcodeproj/project.xcworkspace/xcshareddata/Exult.xccheckout
/ios/Info.plist
/ios/Exult.xcodeproj/project.xcworkspace/xcuserdata/chaojili.xcuserdatad/UserInterfaceState.xcuserstate
/ios/Exult.xcodeproj/xcuserdata/chaojili.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/ios/Exult.xcodeproj/xcuserdata/chaojili.xcuserdatad/xcschemes/Exult.xcscheme
/ios/Exult.xcodeproj/xcuserdata/chaojili.xcuserdatad/xcschemes/xcschememanagement.plist
