os:
  - linux
  - osx

dist: trusty
sudo: required

language: cpp

compiler:
  - gcc
  - clang

env:
  matrix:
    - DEBUG_OPT="--with-debug=messages"
    - DEBUG_OPT=""
  global:
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    #   via the "travis encrypt" command using the project repo's public key
    - secure: "l8bkMxAIg9/95ZQh+Rq5V+1LInw55vlKaZIEgpqZ5nKDkcVVt4U0zGRCQKuUVZzV/TOt5ClOqxnZDgvQCpPtcyMriuBXTAeS/cP7zaTP10wkrq2saSfaLsJwiRIjnNeDtoIJQM8c/II5Vu7rqA9R1t1ejG9gcdHakH9tJnVU4N+ys9qvgIExJKhjSamuZdpoMuvXENE4arKyghhy+ZR+cJEzYkS3CcEQ894nBabdDyFlu+FLLDAwCF1apv/6dzMYRWwogFlkvjZ81G4joYUrQMozaGd+MRJ0kDgPnDEJFsqF/GC7sRZbp9Kvws4ZXdw15+e0u3jcfZgcDuXVuM+TaLGXMAWm9kuz3xj6DHDUYU7Epeg1I4riT9c/PEtYyLsE0wSD3z36erN2dlMxRuaR7awFBLlL63LERWCFES2n4Ulap2mTaJjRjjEJwQ8vB4W7B3SuOyCYJq3X64p44bD3m4fWPcAqCv1DN295JR9+nSRcMsPySkKbgSFtUPoJfayK27GEnF9YAuqcpgf+cbZNxsjcfYzhPD7GcLhyi1gS3+e5eq98EvF+uPA1HTYlhkS0jWypo1XDnFOjYJ59v+rNwpCvnAsSH0rKnks1wfsVytTD2KUb09HqRNdh3Gklr3AVWHSi6ru2MRk6IKt2IQl988SMj/bx1h5qtP8fOB1iKg4="

before_install:
  # Exit immediately if the branch is the "coverity_scan" branch and the job number is not 1
  - test "$TRAVIS_BRANCH" != "coverity_scan" -o "${TRAVIS_JOB_NUMBER##*.}" = "1" || exit 0
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get -qq update; fi
  - if [ "$TRAVIS_BRANCH" = "coverity_scan" ]; then echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca- ; fi

install:
  - if [ "$TRAVIS_OS_NAME" = "osx" -a "$TRAVIS_BRANCH" != "coverity_scan" ]; then source .travis/install-osx.sh; fi

addons:
  apt:
    packages:
      - libsdl1.2-dev
      - libx11-dev
      - zlib1g-dev
      - libgl1-mesa-dev
      - libogg-dev
      - libvorbis-dev
      - libasound2-dev
      - libfluidsynth-dev
      - libsdl-ttf2.0-dev
      - libpng-dev
      - libfreetype6-dev
      - libglade2-dev
      - libgtk2.0-dev
      - libpango1.0-dev
      - libatk1.0-dev
      - libcairo2-dev
      - libgdk-pixbuf2.0-dev
      - libglib2.0-dev
      - libfontconfig1-dev
      - libfreetype6-dev
      - libxml2-dev
      - bison
      - flex
      - libgnomeui-dev
      - timidity
      - libgimp2.0-dev
  coverity_scan:
    project:
      name: "exult/exult"
      description: "Exult is an open source engine for Ultima 7 and Serpent Isle."
    notification_email: marzojr@gmail.com
    build_command_prepend: "./autogen.sh && ./configure --with-debug=messages --disable-oggtest --disable-vorbistest --enable-exult-studio --enable-exult-studio-support --enable-mt32emu --enable-zip-support --enable-shared --enable-opengl --enable-midi-sfx --enable-gimp-plugin --enable-gnome-shp-thumbnailer --enable-compiler --enable-mods --with-usecode-debugger=yes"
    build_command:   "make"
    branch_pattern: coverity_scan

script: if [ "$TRAVIS_BRANCH" != "coverity_scan" ]; then .travis/script.sh; fi

notifications:
  email: false
  irc: "chat.freenode.net/#exult"
  on_success: change
  on_failure: always

