[Desktop Entry]
Encoding=UTF-8
Name=Exult
Comment=Exult Ultima 7 Engine
Exec=exult
Icon=exult.png
Terminal=false
Type=Application
Categories=Application;Game;RolePlaying;
